<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387062235133-v441vt8m7lq8ekuqsap6019uu9ha9gqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387062235133-v441vt8m7lq8ekuqsap6019uu9ha9gqh</string>
	<key>API_KEY</key>
	<string>AIzaSyDFzCzOE0emly6EjXb6Ut96kqImTb8Qfjs</string>
	<key>GCM_SENDER_ID</key>
	<string>387062235133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Norah.Asiri.MessengerAppIOS</string>
	<key>PROJECT_ID</key>
	<string>messengerappios-fe915</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerappios-fe915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387062235133:ios:5cda23071443bd87246394</string>
</dict>
</plist>